
<div class="container-fluid">
  

  <div class="mb-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <nav class="navbar navbar-expand-lg bg-body-tertiary navgate">
    <div class="container-md">
     
      <%= link_to splash_index_path do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
     
      <a class="navbar-brand" href="#"><h2>Log in</h2></a>

         <div class="actions">
          <%= f.submit "Log in" %>
        </div>
     
    </div>
  </nav>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 95%" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", style: "width: 95%" %>
      </div>
    <% end %>
  </div>
</div>

